ion-input, ion-select {
  color: rgb(124, 124, 123);
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
  color:grey;

}

.font-size-12 {
  font-size: 12px;
  color: gray;
}

.date-width {
  width: 105px;
}

.cell-align-right {
  text-align: right;
}

.cell-width-0 {
  width: 0px;
}

ion-title {
  color: rgb(0, 91, 219);
}


.white-box {
  background-color: white; 

}

.date-width {
  background-color: transparent;
  color: rgb(122, 122, 122);
  border: none;
}

.date-width:focus {
  outline: none;
}

.ion-no-padding{
  width: 200px;
}

